<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" monitorInterval="0">
    <Properties>
        <Property name="logHome">/Users/yanglin/work/logs</Property>
        <property name="patternLayout">%level [%X{TRACE_ID}] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %l - %msg%xEx%n</property>
        <property name="serverName">index_study</property>
    </Properties>

    <Appenders>
        <Console name="console" follow="true">
            <PatternLayout charset="UTF-8" pattern="${patternLayout}"/>
        </Console>

        <RollingRandomAccessFile name="rollingFile" fileName="${logHome}/${serverName}.log"
                                 filePattern="${logHome}/${serverName}-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout charset="UTF-8" pattern="${patternLayout}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1M"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="errorRollingFile" fileName="${logHome}/${serverName}-error.log"
                                 filePattern="${logHome}/${serverName}-%d{yyyy-MM-dd}-error-%i.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout charset="UTF-8" pattern="${patternLayout}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1M"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <root level="INFO">
            <appender-ref ref="console" />
<!--            <appender-ref ref="errorRollingFile" />-->
        </root>

        <Logger name="com.lyn.demo.index.study" level="INFO" additivity="false" includeLocation="true">
<!--            <AppenderRef ref="rollingFile"/>-->
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="java.sql"  level="INFO" additivity="false" includeLocation="true">
<!--            <AppenderRef ref="DbRollingFile"/>-->
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="com.mybatis" level="INFO" additivity="false" includeLocation="true">
            <AppenderRef ref="console"/>
        </Logger>

    </Loggers>
</Configuration>
