<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.lyn.demo.index.study"/>

    <import resource="classpath:spring/spring-bean.xml" />
    <import resource="classpath:spring/spring-jdbc.xml" />

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="1000" />
        <property name="maxActive" value="1000" />
        <property name="maxWait" value="2000" />
        <property name="testOnBorrow" value="true" />
        <property name="testWhileIdle" value="true" />
        <property name="testOnReturn" value="true" />
    </bean>

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool" destroy-method="destroy">
        <constructor-arg name="poolConfig" ref="jedisPoolConfig" />
        <constructor-arg name="host" value="127.0.0.1" />
        <constructor-arg name="port" value="6379" />
        <constructor-arg name="timeout" value="0" />
        <!--        <constructor-arg name="password" value="redispwd" />-->
    </bean>

    <bean id="jedisClient" class="com.lyn.demo.index.study.jedis.JedisClient" >
        <constructor-arg name="jedisPool" ref="jedisPool" />
    </bean>

    <bean id="idGenerator" class="com.lyn.demo.index.study.idgen.IdGenerator" />


</beans>